* {
    background: #7CB9E8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}
.topbar {
    display: flex;
    justify-content: space-between;
    margin: 0vw 5vw;
    font-size: x-large;
    margin-bottom: 50px;
}

.main{
    height: 40vw;
    display: flex;
    text-align: center;   
    font-size: larger;
    align-items: center;
    flex-direction: column;
}

#start {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

/*general button style*/
button{
    display: block;
    margin: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    width: 250px;
    height: 50px;
    font-size: 20px;
}

 #quizcontent{
    width: 50vw;
    display: none;
    flex-direction: column;
    font-size: xx-large
 }

 #quizcontent .answer{
    min-width: 250px;
    width: fit-content;
    
 }

 .answer{
    align-self: center;
 }

    